
#container{
    margin : 30px auto;
    background-color:gainsboro;
    height: 500px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    padding-top: 30px;
    text-align: center;
    font-size: 1.25em;
    color: black;
}

#start {
    color: rgb(252, 0, 97);
    text-align: center;
    margin-top: 20%;
    font-size: 20px;
    font-family: monospace;
    cursor: pointer;
    font-weight: bolder;
     width:100px;
    height:150px;
    border : 2px solid lightgrey;
    margin: auto;
    padding-top: 30px;
    background-color: gray;
} 

#start:hover{
    border: 3px solid lightseagreen;
    color : lightseagreen;
}
#question{
    height : 125px;
    padding : 15px;
    font-size: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;  
}
#choices{
    cursor: pointer;
    margin-left: 15px;
    width:500px;
    height : 125px;
    padding : 15px;
    font-size: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
    
}
#counter{
    font-size: 3em;
}
   
#initial{
    border: 4px wheat;
    background-color: gray;
    text-align: center;
    font-family: monospace;
    width : 700px;
    padding : 15px 10px 15px 10px;
    margin : 30px auto;
    font-size: 1.25em;
    }
#savebtn{
    color: rgb(252, 0, 97);
    padding: 2px;
    cursor: pointer;
}

